body{
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
background-color:#E7EBF2;
margin:0px;
}

#mainArea{
	background-color:#E7EBF2;
	width:800px;
	height:150px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

h1{
	padding-top:20px;
	position:relative;
	margin-top:0px;
	font-size:20px;
	color:#0e385f;
	margin-left:60px;
	margin-right:300px;
}

#header{
	width:800px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
#logo{
	width:800px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
#wrapper{
	top:20px;
	width:800px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	background-color:#FFF;
	border:1px solid #ccc;
	border-radius:5px
}

input[type=text] {
vertical-align:top;
width: 300px;
height:33px;
padding: 5px;
padding-right: 40px;
outline: none;
border: 1px solid #bdc7d8;
border-radius: 5px 0px 0px 5px;
background-color: #FBFBFB;
font-size: 16px;
background-repeat: no-repeat;
}      
   

#content{
	font-size: 16px;
	width: 600px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 2100px;
}

div{
	/*border:1px solid black;*/
	}

#searchBar{
	margin:0px;
	width:600px;
	position:relative;
	margin-left:60px;
	top:10px;
}

.multiborder{
        /*border:1px solid #aaa;
		border-radius:5px;
		 box-shadow:1px 1px 1px #aaa;*/
		overflow:hidden;
        width:700px;
        height:185px;
        position:relative;
		margin-left:auto;
		left:-50px;
		margin-right:auto; 
		background-color:rgb(250, 250, 250);
}
.imgDiv{
	
		/*border-:1px solid #aaa;
		border-radius:5px;
		 box-shadow:1px 1px 1px #aaa;*/
		 border-bottom:1px solid #aaa;
		overflow:hidden;
        width:160px;
        height:145px;
        position:relative;
		margin-left:auto;
		top:10px;
		left:10px;
		float:left;
		margin-right:auto; 
		background-color:rgb(255, 255, 255);
	
	}
.innerborder{
        border:1px dotted #CCCC00;
        width:150px;
        height:100px;
        position:relative;
		alignment-adjust:text-after-edge;
}

.go{
	vertical-align:middle;
	position:relative;
	margin-left:-6px;
    height: 33px;
    width: 80px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 0px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight:bold;
	cursor: pointer;
border:1px solid #bdc7d8; border-radius: 0px 5px 5px 0px; text-shadow: -1px -1px 0 rgba(0,0,0,0.1);text-align: center; color: #FFFFFF; background-color: #3093c7;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
 background-image: -webkit-linear-gradient(top, #A8BBDB, #3b5998);
 background-image: -moz-linear-gradient(top, #A8BBDB, #3b5998);
 background-image: -ms-linear-gradient(top, #A8BBDB, #3b5998);
 background-image: -o-linear-gradient(top, #A8BBDB, #3b5998);
 background-image: linear-gradient(to bottom, #A8BBDB, #3b5998);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}

.go:hover{
	vertical-align:middle;
	position:relative;
	margin-left:-6px;
    height: 33px;
    width: 80px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 0px;
    cursor: pointer;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight:bold;
 border:1px solid #bdc7d8; border-radius: 0px 5px 5px 0px; text-shadow: -1px -1px 0 rgba(0,0,0,0.1);text-align: center; color: #FFFFFF; background-color: #3093c7;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), top(#133d5b));
 background-image: -webkit-linear-gradient(top, #7E9ED5, #143374);
 background-image: -moz-linear-gradient(top, #7E9ED5, #143374);
 background-image: -ms-linear-gradient(top, #7E9ED5, #143374);
 background-image: -o-linear-gradient(top, #7E9ED5, #143374);
 background-image: linear-gradient(to bottom, #7E9ED5, #143374);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}

#proPic {
	position:relative;
	border-right:1px solid #aaa;
	overflow:hidden;
    background:white;
    width: 159px;
    height:130px;
}     
.evnt {
	position:relative;
	bottom:5px;
	overflow:hidden;
    background:white;
    width: 600px;
    height:20px;
}

#loadImage{
position:relative;
right:-130px;
top:-35px;
height:20px;
width:20px;
}

#event1{

	border-bottom:1px solid #AAA;
	border-top:1px solid #666; 
	font-size:12px;
    margin-top:30px;
    width: 450px;
    height:30px;
    float:right;
}
#innerEvent{

	border-right:1px solid #CCC;
    margin-left:5px;
	text-align:center;
    width:150px;
    height:30px; 
    float:left;
}
#innerEvent2{

    margin-left:5px;
	text-align:center;
    width:200px;
    height:30px; 
    float:left;
}
#innerEvent3{

    margin-left:5px;
	text-align:center;
    width:450px;
    height:30px; 
    float:left;
}
#startTimeStyle{
	position:relative;
	/*border-right:1px solid #AAA;*/
	margin-left:-5px;
    margin-top:5px;
    width:100px;
    height:30px;
    float:left;
	}
#startTimeStyleBig{
	position:relative;
	/*border-right:1px solid #AAA;*/
	text-align:left;
	
    margin-top:5px;
    width:150px;
    height:30px;
    float:left;
	}
#iconStyle{
    margin-top:5px;
    width:30px;
    height:19px;
    float:left;
}
#iconStyle2{
    margin-top:5px;
    width:80px;
    height:19px;
    float:left;
}
#event2{

	
	border-bottom:1px solid #AAA;
	font-size:12px;
    margin-top:2px;
    width: 450px;
    height:30px;
    float:right;
}
#event3{

	border-bottom:1px solid #AAA;
    margin-top:5px;
    width: 450px;
    height:70px;
    float:right;
}

#sideTxt {
	border-bottom:1px solid #AAA;
    font-size:12px;
	alignment-baseline:middle;
    margin-top:5px;
    width: 450px;
    height:30px;
    float:right;
}
#info {
	border-bottom:1px solid #AAA;
    font-size:12px;
	alignment-baseline:middle;
    margin-top:5px;
    width: 225px;
    height:30px;
    float:right;
}
#locationStyle{
	position:relative;
	/*border-right:1px solid #AAA;*/
	text-align:left;
	
    margin-top:5px;
	margin:5px;
    width:400px;
    height:30px;
    float:left;
	}
.icon{
	top:5px;
	margin-right:2px;
	
}