body{
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
background-color:#E7EBF2;
margin:0px;
}

#mainArea{
	background-color:#E7EBF2;
	width:800px;
	height:200px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

h1{
	padding-top:20px;
	position:relative;
	margin-top:0px;
	font-size:20px;
	color:#0e385f;
	margin-left:60px;
	margin-right:300px;
}

#header{
	width:800px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
#logo{
	width:800px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

#wrapper{
	width:800px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	background-color:#FFF;
	border:1px solid #ccc;
	border-radius:5px
}

input[type=text] {
top:-1px;
position:relative;
width: 300px;
height:33px;
padding: 5px;
padding-right: 40px;
outline: none;
border: 1px solid #bdc7d8;
border-radius: 5px 0px 0px 5px;
background-color: #FBFBFB;
font-size: 16px;
background-image:url(facebook.ico);
background-repeat: no-repeat;
}      
   

#content{
	font-size: 16px;
	width: 600px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 840px;
	position: relative;
	top:50px;
	
}

div{
	/*border:1px solid black;*/
	}

#searchBar{
	width:600px;
	position:relative;
	margin-left:60px;
	top:10px;
}

.multiborder{
        border-top:1px solid black;
        width:600px;
        height:120px;
        position: 150px;
		alignment-adjust:alphabetic;
}

.innerborder{
        border:1px dotted #CCCC00;
        width:150px;
        height:100px;
        position:relative;
		alignment-adjust:text-after-edge;
}

.go{
	margin-left:10px;
	margin-top:3px;
	border-radius:0px 5px 5px 0px;
    height: 33px;
    width: 90px;
    font-size: 21px;
    color: #fff;
    text-align: center;
    line-height: 0px;
    border-width: 0;
    background-color:#4c66a4;
    cursor: pointer;
}
#proPic {
    background:white;
    width: 120px;
    height:110px;
    border-right:1px solid #888;
    margin-right:20px;
    float: left;
}     

#event {
    background:white;
	border-bottom:1px solid #AAA;
    margin-top:5px;
    width: 450px;
    height:30px;
    float:left;
}

#sideTxt {
    background:white;
	border-bottom:1px solid #AAA;
    font-size:12px;
	alignment-baseline:middle;
    margin-top:5px;
    width: 450px;
    height:30px;
    float:left;
}